<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>ApiUrl</key>
		<string>http://dev.MRKits.ru/api.php</string>
		<key>IAPSecret</key>
		<string>e0177cdb8047407ba924a63c3b81af33</string>
	</dict>
	<key>Adhoc</key>
	<dict>
		<key>ApiUrl</key>
		<string>http://dev.MRKits.ru/api.php</string>
		<key>IAPSecret</key>
		<string>e0177cdb8047407ba924a63c3b81af33</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>ApiUrl</key>
		<string>http://dev.MRKits.ru/api.php</string>
		<key>IAPSecret</key>
		<string>e0177cdb8047407ba924a63c3b81af33</string>
	</dict>
</dict>
</plist>
